<!DOCTYPE html>
<html>
  <head>
    <title>湯tellite</title>
    <%= favicon_link_tag('hotspring.svg') %>

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# prefix属性: http://ogp.me/ns/ prefix属性#">
    <meta property="og:title" content="湯tellite" />
    <meta property="og:description" content="衛星画像を用いて野湯を探してみましょう" />
    <meta property="og:site_name" content="湯tellite" />
    <meta property="og:image" content="https://drive.google.com/uc?id=1m71WTaadyTXMlkXScvhFg-MMG47iRdVz" />
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'app' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TTVH9B287"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5TTVH9B287');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
